#leftblock{
    width: 47%;
    height: 92%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
}
.glass {
  background: rgba(255, 255, 255, 0.1);      /* semi-transparent */
  border-radius: 16px;                       /* smooth corners */
  backdrop-filter: blur(10px);               /* frosted effect */
  -webkit-backdrop-filter: blur(10px);       /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);  /* soft shadow */
}

nav{
    width: 100%;
    height: 50px;
    color:white;
    margin-bottom: 13px;
    background-color: #565254;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    border: 2px solid white;
}

#form-container{
    width: calc(100% - 30px);
    height: calc(98% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}

#form-container::-webkit-scrollbar {
    display: none;
}

heading{
    font-size: large;
    font-weight: 700;
}

#personal-info{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px ;
    background-color: antiquewhite;
}

#education{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#summary{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#tech-skills{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#experience{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#extracurricular{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#projects{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}


.section-controls{
    margin-left: auto;
}
