#leftblock{
    width: 47%;
    height: 92%;
    background-color: aqua;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

nav{
    width: 100%;
    height: 50px;
    margin-bottom: 13px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

#form-container{
    width: calc(100% - 30px);
    height: calc(98% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}

#form-container::-webkit-scrollbar {
    display: none;
}

heading{
    font-size: large;
    font-weight: 700;
}

#personal-info{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#education{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#summary{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#tech-skills{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#experience{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#extracurricular{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}

#projects{
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px ;
    background-color: antiquewhite;
}


.section-controls{
    margin-left: auto;
}