
%-------------------------
% Resume in Latex
% Author : Vyom Pant
% Based off : https://github.com/sb2nov/resume
% License : MIT
%------------------------

\documentclass[letterpaper,11pt]{article}
\usepackage{changepage}
\usepackage{fontawesome5}
\usepackage{graphicx}
\usepackage{latexsym}
\usepackage[empty]{fullpage}
\usepackage{titlesec}
\usepackage{marvosym}
\usepackage[usenames,dvipsnames]{color}
\usepackage{verbatim}
\usepackage{enumitem}
\usepackage[hidelinks]{hyperref}
\usepackage{fancyhdr}
\usepackage[english]{babel}
\usepackage{tabularx}
\input{glyphtounicode}

\pagestyle{fancy}
\fancyhf{} 
\fancyfoot{}
\renewcommand{\headrulewidth}{0pt}
\renewcommand{\footrulewidth}{0pt}

\addtolength{\oddsidemargin}{-0.5in}
\addtolength{\evensidemargin}{-0.5in}
\addtolength{\textwidth}{1in}
\addtolength{\topmargin}{-.5in}
\addtolength{\textheight}{1.0in}

\urlstyle{same}
\raggedbottom
\raggedright
\setlength{\tabcolsep}{0in}

\titleformat{\section}{\vspace{-4pt}\scshape\raggedright\large}{}{0em}{}[\color{black}\titlerule \vspace{-5pt}]
\pdfgentounicode=1

%-------------------------
% Custom commands
\newcommand{\resumeItem}[1]{\item\small{{#1 \vspace{-2pt}}}}
\newcommand{\resumeSubheading}[4]{\vspace{-2pt}\item
  \begin{tabular*}{0.97\textwidth}[t]{l@{\extracolsep{\fill}}r}
    \textbf{#1} & #2 \\
    \textit{\small#3} & \textit{\small #4} \\
  \end{tabular*}\vspace{-7pt}
}
\newcommand{\resumeSubSubheading}[2]{\item
  \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
    \textit{\small#1} & \textit{\small #2} \\
  \end{tabular*}\vspace{-7pt}
}
\newcommand{\resumeProjectHeading}[2]{\item
  \begin{tabular*}{0.97\textwidth}{l@{\extracolsep{\fill}}r}
    \small#1 & #2 \\
  \end{tabular*}\vspace{-7pt}
}
\newcommand{\resumeSubItem}[1]{\resumeItem{#1}\vspace{-4pt}}
\renewcommand\labelitemii{$\vcenter{\hbox{\tiny$\bullet$}}$}
\newcommand{\resumeSubHeadingListStart}{\begin{itemize}[leftmargin=0.15in, label={}]}
\newcommand{\resumeSubHeadingListEnd}{\end{itemize}}
\newcommand{\resumeItemListStart}{\begin{itemize}}
\newcommand{\resumeItemListEnd}{\end{itemize}\vspace{-5pt}}

\begin{document}

%----------HEADING----------
\begin{center}
    \textbf{\Huge \scshape {{ personal.name }}} \\ \vspace{1pt}
    {{ location }} \\ \vspace{1pt}
    \small\href{tel:{{ personal.contactNo }}}{\raisebox{-0.2\height}{\rotatebox[origin=c]{270}\faPhone}\ \underline{{ personal.contactNo }}} $|$ 
    \href{mailto:{{ personal.emailId }}}{\raisebox{-0.2\height}\faEnvelope\ \underline{{ personal.emailId }}} $|$ 
    \href{{ personal.linkedinId }}{\raisebox{-0.2\height}\faLinkedin\ \underline{{ personal.linkedinId }}} $|$
    \href{{ personal.githubId }}{\raisebox{-0.2\height}\faGithub\ \underline{{ personal.githubId }}} $|$
    \href{{ personal.portfolio }}{\raisebox{-0.2\height}\faUserTie\ \underline{Portfolio}} 
\end{center}


{% for section in section_order %}

  {% if section=='summary' %}
    %-----------SUMMARY-----------
    \section{Summary}
    \begin{adjustwidth}{0.15in}{0in}
    {{ summary }}
    \end{adjustwidth}


    {% elif section=='skills' %}
      %-----------TECHNICAL SKILLS-----------
      \section{Technical Skills}
      \begin{itemize}[leftmargin=0.15in, label={}]
        \small{\item{
          \textbf{Languages}{: {{ skills.languages }}} \\
          \textbf{Frameworks}{: {{ skills.frameworks }}} \\
          \textbf{Developer Tools}{: {{ skills.devtools }}} \\
          \textbf{Libraries}{: {{ skills.libraries }}} \\
          \textbf{Problem Solving}{: {{ skills.problemsolving }}}
        }}
      \end{itemize}


    {% elif section=='education' %}
      %-----------EDUCATION-----------
      \section{Education}
      \resumeSubHeadingListStart
      {% for edu in education %}
        \resumeSubheading
          {{ edu.institute }}{{ edu.start }} -- {{ edu.end }}
          {{ edu.degree }} - \textbf{{ edu.grade }}{{ edu.location }}
      {% endfor %}
      \resumeSubHeadingListEnd
      \vspace{-9pt}


    {% elif section == 'experience' %}
      %-----------EXPERIENCE-----------
      \section{Experience}
      \resumeSubHeadingListStart
      {% for exp in experience %}
        \resumeSubheading
          {{ exp.company }}{{ exp.start }} -- {{ exp.end }}
          {{ exp.position }}{{ exp.location }}
        \resumeItemListStart
          {% for point in exp.bullets %}
            \resumeItem{{ point }}
          {% endfor %}
        \resumeItemListEnd
      {% endfor %}
      \resumeSubHeadingListEnd 


    {% elif section == "projects" %} 
      %-----------PROJECTS-----------
      \section{Projects}
      \resumeSubHeadingListStart
      {% for proj in projects %}
        \resumeProjectHeading
          {\textbf{{ proj.name }} \href{{ proj.link }}{\raisebox{-0.1\height}\faLink} $|$ \emph{{ proj.tech }}}{{ proj.start }} -- {{ proj.end }}
        \resumeItemListStart
          {% for point in proj.bullets %}
            \resumeItem{{ point }}
          {% endfor %}
        \resumeItemListEnd
      {% endfor %}
      \resumeSubHeadingListEnd


    {% elif section == "extracurricular" %}
      %-----------EXTRACURRICULAR-----------
      \section{Extracurricular}
        \resumeSubHeadingListStart
          {% for extra in extracurricular %}
            \resumeSubheading{{ extra.org }}{{ extra.start }} -- {{ extra.end }}
            {{ extra.position }}{{ extra.location }}
            \resumeItemListStart
              {% for point in extra.bullets %}
                \resumeItem{{ point }}
              {% endfor %}
            \resumeItemListEnd
          {% endfor %}
      \resumeSubHeadingListEnd

  {% endif %}
{% endfor %}

\end{document}